@use '../../scss/' as *;

// Styles for the movie list container
.movie-list
{
    // Styles for each swiper slide
    .swiper-slide
    {
        width: 15%;

        @include tablet
        {
            width: 30%;
        }

        @include mobile
        {
            width: 40%;
        }
    }
}