// Background color for the body
$body-bg: #0f0f0f;

// Main color used in the application
$main-color: #ff0000;

// Text color
$txt-color: #fff;

// Common colors
$white: #fff;
$black: #000;

// Box shadow style
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// Header heights
$header-height: 8rem;
$header-shrink-height: 5rem;

// Border radius for elements
$border-radius: 30px;

// Breakpoints for responsive design
$mobile-width: 600px;
$tablet-width: 1024px;

// Font family
$font-family: "Playfair Display", serif;

$border-color: #b30b0b;