@use '../../scss/variables' as *;

// Page header styles
.page-header {
    position: relative;
    padding: $header-height 0 2rem;
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden;

    // Header title styles
    h2 {
        position: relative;
        z-index: 1;
    }

    // Background video styles
    &__video-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    // Gradient overlay styles
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
        z-index: 1;
    }
}